<%- include('../includes/head.ejs') %>

<header id="home" class="headerHome">
    <%- include('../includes/nav.ejs') %>
    <%- include('../includes/logo.ejs') %>
</header>
<body>

    <%- include('../includes/js.ejs') %>
</body>
<%- include('../includes/footer.ejs') %>